@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

.main-content {

    background-color: #06ad2285;
    padding: 10px 40px;
    height: 100vh;
}

.main-content nav {
    background-color: transparent;
}

.navbar-light .navbar-toggler {
    box-shadow: none;
}

.main-content nav .main-content-fluid a {
    color: white;
}

.main-content nav .main-content-fluid .navbar-nav a {
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.main-content nav .main-content-fluid a:hover {
    color: white;
}

.main-content nav .main-content-fluid .navbar-nav a:hover {
    background-color: #06ad22;
    color: white;
}


.main-content nav .main-content-fluid .navbar-nav .nav-link {
    margin-right: 15px;

}



.main-content .content {
    max-width: 240px;
    margin-top: 20px;
}

.main-content .content .line {
    max-height: 10px;
    width: 100px;
    border-top: 2px solid white;
}

.main-content .content .h2 {
    color: white;
    font-weight: 600;
}

.main-content .content .p2 {
    color: white;
    font-weight: 600;
}

.main-content .content .btn.btn-primary {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}


@media (max-width:500px) {
    body {
        padding: 10px;
    }

    .main-content {
        padding: 10px 20px;
    }

    .main-content form {
        max-width: 100%;
    }
}